/* 
.main{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 70px;

}
.container{
    align-items: start;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
   
    border-radius: 10px;
    margin: 20px 30px;
}

.todosBox{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    background-color: rgb(65, 92, 151);
    border-radius: 20px;
    color: white;
    margin: 20px;
    transition: 0.2s;
    cursor: move;
}
.todosBox:hover{
    box-shadow: 0px 0px 5px black;
    transform: scale(1.02);
}
.header{
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'cambria';
}
.header span{
    font-weight: bold;
}
.input{
    padding: 10px 15px;
    margin: 5px;
}
.btn{
    display: flex;
    height: 60px;
    padding: 20px 50px;
    font-weight: bold;
    background-color: aliceblue;
    opacity: 0.7;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 40px;

}
.todolist{
    display: flex;
    padding: 10px 15px;
    margin-bottom: 5px;
    background-color: rgb(48, 71, 121);
    color: white;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
}
.todolist:hover{
    box-shadow: 0px 0px 5px black;
    transform: scale(1.1);
}
.plus{
    display: flex;
    margin-right: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.inputbox{
    padding: 20px 30px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px black;
    margin-top: 40px;
}
.btnList{
    display: flex;
    height: 40px;
    font-weight: bold;
    margin: 5px;
    background-color: aliceblue;
    opacity: 0.7;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    

}
.btnList:hover{
    background-color: rgb(156, 197, 234);

}
.btnCard{
    display: flex;
    height: 40px;
    font-weight: bold;
    margin: 5px;
    background-color: aliceblue;
    opacity: 0.7;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}
.btnCard:hover{
    background-color: rgb(156, 197, 234);
}
.inputTitle{
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px black;
}
ul{
    display: flex;
    color: aliceblue;
    list-style: none;
    flex-direction: column;
    margin-right: 35px;
} */

.main{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 70px;

}
.container{
    align-items: start;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
   
    border-radius: 10px;
    margin: 20px 30px;
}

.todosBox{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    background-color: rgb(65, 92, 151);
    border-radius: 20px;
    color: white;
    margin: 20px;
    transition: 0.2s;
}
.todosBox:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 3px black;
}
.header{
    font-size: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'cambria';
}
.header span{
    font-weight: bold;
}
.input{
    padding: 10px 15px;
    margin: 5px;
}
.btn{
    display: flex;
    height: 60px;
    padding: 20px 50px;
    font-weight: bold;
    background-color: aliceblue;
    opacity: 0.7;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 40px;
}
.btn:hover{
    background-color: rgb(103, 228, 95);
}
.todolist{
    display: flex;
    padding: 10px 15px;
    margin-bottom: 5px;
    background-color: rgb(48, 71, 121);
    color: white;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    transition: 0.2s;
}
.todolist:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 5px black;
}
.plus{
    display: flex;
    margin-right: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.inputbox{
    padding: 20px 30px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px black;
    margin-top: 40px;
}
.btnList{
    display: flex;
    height: 40px;
    padding: 20px 20px;
    font-weight: bold;
    margin: 5px;
    background-color: aliceblue;
    opacity: 0.7;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    

}
.btnList:hover{
    background-color: rgb(103, 228, 95);

}
.btnCard{
    display: flex;
    height: 40px;
    padding: 20px 20px;
    font-weight: bold;
    margin: 5px;
    background-color: rgb(156, 197, 234);
    opacity: 0.7;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}
.btnCard:hover{
    background-color: rgb(103, 228, 95);
}
.inputTitle{
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px black;
    border: none;
    outline: none;
    background-color: azure;
}
.inputTitle:hover{
    background-color: beige;
}
ul{
    padding: 0;
    display: flex;
    color: aliceblue;
    list-style: none;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
}
.cutIcon{
    display: flex;
    margin-right: 5px;
    text-align: center;
    justify-content: center;
}
.cutIconBtn{
font-size: 10px;
background-color: transparent;
color: rgb(255, 0, 0);
cursor: pointer;
font-size: 23px;
display: flex;
justify-content: center;
align-items: center;
}
.mainBtn{
    color: red;
    font-size: 35px;
    background-color: transparent;
    cursor: pointer;
}